@import "variables";
@import "node_modules/css-modal/modal";
@import "node_modules/ng-dialog/css/ngDialog";
@import "node_modules/ng-dialog/css/ngDialog-theme-default";

body {
  font-family: $font_raleway;
}

.top-bar {
  background-color: #F6F7FB;
  i {
    font-size: 38px;
  }
  .menu-text, .menu {
    background-color: #F6F7FB;
  }
}

#login-group {
  margin-top: 3em;
  text-align: center;
  padding: 2em;
  h5, p {
    margin-bottom: 1em;
  }
}

#chatrooms-list {
  border-right: 1px solid #efefef;
  height: 100vh;
  @include bp-medium {
    height: 100%;
  }
  @include bp-small {
    height: 100%;
  }

  h2 {
    font-size: 26px;
    margin: 1em 0 0.5em 0;
    font-weight: 300;
  }
  a.button {
    font-weight: 500;
  }

  hr {
    border-color: #efefef;
  }

  ul {
    margin-top: 1em;
    list-style: none;
    margin-left: 0;
    li {
      margin: 0.5em 0;
      .badge {
        font-size: 0.1rem;
        margin-left: 1em;
      }
    }
  }

}

#chatroom-wrap {
  height: 100vh;
  @include bp-medium {
    height: 100%;
  }
  @include bp-small {
    height: 100%;
  }
  h3 {
    font-weight: 300;
    margin-top: 1em;
  }
  table tbody {
    border: none;
    td {
      padding: 1.5rem .625rem 1.625rem;
      &.user {
        font-size: 14px;
        font-weight: 600;
        color: #444444;
        width: 10%;
      }
      &.message {
        width: 80%;
      }
      &.time {
        font-style: italic;
        color: #666666;
        width: 10%;
      }
    }
    tr {
      &:nth-child(even) {
        background-color: #F6F7FB;
      }
    }
  }

  .input-group {
    .input-group-field {
      height: 2.5rem;
    }
    [type=text] {
      border: 1px solid #e8e8e8;
      box-shadow: none;
    }
    .input-group-button {
      padding: .85em 2em;
    }
  }
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    background: #ffffff;
    border-radius: 0;
    color: #444;
    margin: 0 auto;
    max-width: 100%;
    padding: 1em;
    position: relative;
    width: 450px;
    h2 {
      font-size: 22px;
      font-weight: 300;
    }
    input {
      box-shadow: none;
    }
    [type=text] {
      height: 2.4375rem;
      padding: .5rem;
      border: 1px solid #cacaca;
      margin: 0 0 1rem;
      font-family: inherit;
      font-size: 1rem;
      font-weight: 300;
      color: #0a0a0a;
      background-color: #fefefe;
      border-radius: 0;
    }
}

.modal--fade .modal-content, .modal--show .modal-content {
  border-radius: 0px;
  box-shadow:none;
  border-bottom: none;
  width: 400px;
  .callout {
    border: none;
  }
  h4 {
    font-size: 22px;
    font-weight: 300;
  }
  input {
    box-shadow: none;
  }
}

.modal--fade .modal-inner, .modal--show .modal-inner {
  margin-left: -225px;
  width: 450px;
}

.modal--fade .modal-close:after, .modal--show .modal-close:after {
  margin-right: -210px;
  top: 60px;
  font-size: 2em;
  background: none;
}
