
<div class="large-3 columns">
  <div id="chatrooms-list">

      <h2>Chat Rooms</h2>
      <a href="#" class="small secondary button">New Room</a>

      <hr>

      <ul>
        <li>Chat Room 1</li>
        <li>Chat Room 2</li>
        <li>Chat Room 3</li>
      </ul>

  </div>
</div>

<div class="large-9 columns">
  <div id="chatroom-wrap">

    <table>
      <tbody>
        <tr>
          <td class="user">John Wayne</td>
          <td class="message">This is longer content Donec id elit non mi porta gravida at eget metus.</td>
          <td class="time">1:45 pm</td>
        </tr>
        <tr>
          <td class="user">John Wayne</td>
          <td class="message">This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
          <td class="time">1:45 pm</td>
        </tr>
        <tr>
          <td class="user">John Wayne</td>
          <td class="message">This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
          <td class="time">1:45 pm</td>
        </tr>
        <tr>
          <td class="user">John Wayne</td>
          <td class="message">This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
          <td class="time">1:45 pm</td>
        </tr>
      </tbody>
    </table>

    <div class="input-group">
      <input class="input-group-field" type="text" placeholder="Write your message...">
      <a class="input-group-button secondary button">Submit</a>
    </div>

  </div>
</div>
